body {
    margin: 0;
    font-family: 'lato', sans-serif;
}


/*ustawienia menu*/

nav#menu {
    background-color: #222;
    text-align: center;
}

nav#menu>ul {
    margin: 0;
}

nav#menu>ul>li.menu-item {
    display: inline-block;
    padding: 25px;
    list-style: none;
}

nav#menu a {
    color: white;
    text-decoration: none;
}

nav#menu a:hover {
    color: gray;
}


/*koniec ustawień menu*/


/*ustawienia header*/

#header {
    position: relative;
    text-align: center
}

img {
    width: 100%;
}

#main-header-text {
    position: absolute;
    top: 50%;
    font-size: 50px;
    font-weight: 700;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: white;
}


/*koniec ustawień header*/


/*ustawienia about*/

#about {
    margin 30px 0;
    padding: 0 50px;
    text-align: center;
}

#about-header {
    font-size: 30px;
    margin-bottom: 20px;
}


/*koniec ustawień about*/


/*ustawienia kontakt*/

#contact {
    text-align: center;
    padding: 30px 50px;
    background: #222;
    color: white;
}

h2#contact-header {
    font-size: 30px;
}

#contact-content {
    font-style: normal;
}

footer a {
    color: white
}

footer a:hover {
    color: gray;
}


/*koniec ustawień kontakt*/
