body {
    margin: 0;
    font-family: 'lato', sans-serif;
}

/*ustawienia menu*/

nav#menu {
    background-color: #222;
    text-align: center;
    }

nav#menu > ul {
    margin: 0;
    }

nav#menu>ul>li.menu-item {
    display: inline-block;
    padding: 25px;
    list-style: none;
}

nav#menu a {
    color: white;
    text-decoration: none;
}

nav#menu a:hover {
    color: gray;
    }
/*koniec ustawień menu*/

/*ustawienia header*/

#header > h1 > main-header-text{
    position: absolute
}

/*koniec ustawień header*/


